@font-face {
    font-family: Acumin-BdItPro;
    src: url("../../FUENTE/Acumin/Acumin-BdItPro.otf");
    font-family: Acumin-BdPro;
    src: url("../../FUENTE/Acumin/Acumin-BdPro.otf");
    font-family: Acumin-ItPro;
    src: url("../../FUENTE/Acumin/Acumin-ItPro.otf");
    font-family: Acumin-ItRegular;
    src:url("../../FUENTE/Acumin/Acumin-RPro.otf")
  }
*{
    font-family:  Acumin-ItRegular;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    min-height: 100vh;
   background-color: black;
}
/*
.img__header img{  
    width: 100%;  
    position: relative;
}

.header__buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.left__button img{ 
    position: absolute;
    width: 13%;
    top: 2%;
}


.right__button img{
    position: absolute;
    width: 13%;
    right: 0;
    top: 2%; 
}


.big__image img {
    width: 100%;
}

.part__2{
    width: 100%;    
}
/*
.service__title{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.service__cards{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.service__cards .card{
    position: relative;
}

.service__cards .card > .card__title{
    position: absolute;
    top: 10%;
    left: -6%; 
    right: 1%;
}
.service__cards .card > .card__title img{
    height: 2.5rem;
    width: 320px;
}

.service__cards .card img {
    width: 290px;
    height: 350px;
}

.service__cards .card .bottom__button{
    position: absolute;
    bottom: 10%;
    left: 35%;
   
}
.service__cards .card p{
    position: absolute;
    bottom:20%;
    left: 5%;
    padding: 15px;
    color: #fcf9ed;
}

.service__cards .card .bottom__button img{
    height: 2rem;
    width: 100px;
 }
*/
 /*PART 3*/
 
 /*
 .part3 {
     width: 100%;   
     padding-top: 3rem;
     padding-bottom: 7rem;
 }
 



 .part4{
     background-image: url('../../images/parte 4/pie de web.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

 .part4 .footer{
     display: flex;
     justify-content: space-around;
     padding: 2rem;
 }

 .footer .footer__infoText,
 .footer .footer__ubication,
 .footer .footer__socialMedia{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .footer .footer__infoText h3,
 .footer .footer__socialMedia h3 {
    margin: 0;
    color: #fcf9ed;
    text-align: center;
    font-size: 2rem;
 }
 
.footer__ubication .icon__ubication,
.footer__socialMedia .icon__ubication{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}

 .footer__ubication img{
     height: 3rem;
     width: 3rem;
 }

 .footer__ubication h3,
 .footer__ubication h4{
     margin: 0;
     color: #fcf9ed;
     text-align: center;
     font-size: 1.5rem;
 }

 .footer__socialMedia img{    
    width: 10rem;
}
.image{
    width: 60%;
}
.image img{
    width: 100%;
    height: 100%;
    padding-left:4em;
    padding-right: 2em;
}

.box{
    display: flex;
    flex-direction: row;
    color: wheat;
}
.box__message{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    position: relative;
    margin-left: 7rem;
    margin-right: 2rem;
}
.box__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 100%;
}



.box .bottom__button img{
    height: 2.5rem;
    width: 150px;
}
.separator__line{
    height: 5px;
    width: 100%;
    background: red;
}
.separator__line__last{
    height: 5px;
    width: 100%;
    background: red;
}
*/
/* estilos carousel*/
/*
.rec.rec-arrow {
    border-radius: 0;
    background-color: #c91c1c;
}
.rec.rec-arrow:hover {
    border-radius: 50%;
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.eWjCzc{
    color: white;
}
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;
}
button.rec-dot{
    background-color: rgb(235, 16, 16);
    box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
  }
  
  button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    box-shadow: 0 0 1px 3px rgba(235,16,16,0.5);
  }
*/