.service__title{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.service__cards{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.service__cards .card{
    position: relative;
}

.service__cards .card > .card__title{
    position: absolute;
    top: 10%;
    left: -6%; 
    right: 1%;
}
.service__cards .card > .card__title img{
    height: 2.5rem;
    width: 320px;
}

.service__cards .card img {
    width: 290px;
    height: 350px;
}

.service__cards .card .bottom__button{
    position: absolute;
    bottom: 10%;
    left: 35%;
   
}
.service__cards .card p{
    position: absolute;
    bottom:20%;
    left: 5%;
    padding: 15px;
    color: #fcf9ed;
}

.service__cards .card .bottom__button img{
    height: 2rem;
    width: 100px;
 }